
/*! normalize.css http://github.com/necolas/normalize.css :: updated by WKNDS 2013.11.30 */
article, aside, details, figcaption, figure, footer, header, hgroup, nav, section, summary {
  display: block; }

audio, canvas, video {
  display: inline-block; }

audio:not([controls]) {
  display: none; }

[hidden] {
  display: none; }

html {
  font-size: 100%;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; 
}

a:focus {
  outline: thin dotted; }

a:hover, a:active {
  outline: 0; }

h1 {
  font-size: 2em;
  margin: 0; }

h2 {
  font-size: 1.5em;
  margin: 0; }

h3 {
  font-size: 1.17em;
  margin: 0; }

h4 {
  font-size: 1em;
  margin: 0; }

h5 {
  font-size: 0.83em;
  margin: 0; }

h6 {
  font-size: 0.75em;
  margin: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b, strong {
  font-weight: bold; }

blockquote {
  margin: 1em 40px; }

dfn {
  font-style: italic; }

mark {
  background: #ff0;
  color: #000; }

p, pre {
  margin: 1em 0; }

pre, code, kbd, samp {
  font-family: monospace, serif;
  font-size: 1em; }

pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word; }

q {
  quotes: none; }

q:before, q:after {
  content: '';
  content: none; }

small {
  font-size: 75%; }

sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

dl, menu, ol, ul {
  margin: 1em 0; }

dd {
  margin: 0 0 0 40px; }

ol, ul {
  padding: 0 0 0 40px; }

nav ul, nav ol {
  list-style: none;
  list-style-image: none; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 0; }

form {
  margin: 0; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0;
  white-space: normal; }

button, input, select, textarea {
  font-size: 100%;
  margin: 0;
  vertical-align: baseline; }

button, input {
  line-height: normal; }

button, input[type="button"], input[type="reset"], input[type="submit"] {
  cursor: pointer;
  -webkit-appearance: button;
  *overflow: visible; }

button[disabled], input[disabled] {
  cursor: default; }

input[type="checkbox"], input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="search"] {
  -webkit-appearance: textfield;
  box-sizing: content-box; }

input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none; }

button::-moz-focus-inner, input::-moz-focus-inner {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto;
  vertical-align: top; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  word-wrap: break-word;
  font-family: 'Muli5', 'Muli', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 200;
  color: #777;
  line-height: 2; }

h1, h2, h3, h4, h5, h6, p, ul, ol, dl, figure, pre, blockquote, fieldset, table, hr {
  margin:  12px 0;
  margin:  0.75rem 0; }

h1, h2, h3, h4, h5, h6 {
  font-family: 'Muli5', 'Muli', sans-serif;
  font-size: 12px;
  font-size: 0.75rem;
  font-weight: 200;
  color: #777;
  line-height: 2; }

.h1, .h2, .h3 {
  font-family: 'Hoefler Titling', 'Hoefler Titling A', 'Hoefler Titling B', serif;
  font-weight: 500;
  font-style: normal;
  font-size: 40px;
  font-size: 2.5rem;
  line-height: 1.4;
  letter-spacing: 0.03em;
  color: #111; }

.h2 {
  font-size: 16px;
  font-size: 1rem;
  margin-top: 4em; }

.h3 {
  font-size: 13px;
  font-size: 0.8125rem;
  color: #444; }

.h4 {
  font-size: 11px;
  font-size: 0.6875rem;
  line-height: 1.2;
  text-transform: uppercase;
  letter-spacing: 0.125em; }
  .h4.-underline {
    border-bottom: 1px solid #ddd;
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    padding-bottom: 0.3em;
    margin-bottom: 0; }
  .h4.-mb0 {
    margin-bottom: 0; }

@media screen and (min-width: 48.0625em) {
  .h2 {
    font-size: 20px;
    font-size: 1.25rem; }
  .h3 {
    font-size: 16px;
    font-size: 1rem; } }

ul, ol {
  padding-left: 2em; }

/*
ul, ol {
	padding-left: 2em;
	margin-top: 1em;
	margin-bottom: 1em;
}
*/
/* Generated by Font Squirrel (http://www.fontsquirrel.com) on August 19, 2013 */
@font-face {
  font-family: 'Muli5';
  src: url('http://www.poorlawyer.com/fonts/muli/muli-regular.eot');
  src: url('http://www.poorlawyer.com/fonts/muli/muli-regular.eot?#iefix') format('embedded-opentype'), url('http://www.poorlawyer.com/fonts/muli/muli-regular.woff') format('woff'), url('http://www.poorlawyer.com/fonts/muli/muli-regular.ttf') format('truetype');
  font-weight: 200;
  font-style: normal; }

@font-face {
  font-family: 'Muli5';
  src: url('http://www.poorlawyer.com/fonts/muli/muli-medium-x.eot');
  src: url('http://www.poorlawyer.com/fonts/muli/muli-medium-x.eot?#iefix') format('embedded-opentype'), url('http://www.poorlawyer.com/fonts/muli/muli-medium-x.woff') format('woff'), url('http://www.poorlawyer.com/fonts/muli/muli-medium-x.ttf') format('truetype');
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Muli5';
  src: url('http://www.poorlawyer.com/fonts/muli/muli-bold.eot');
  src: url('http://www.poorlawyer.com/fonts/muli/muli-bold.eot?#iefix') format('embedded-opentype'), url('http://www.poorlawyer.com/fonts/muli/muli-bold.woff') format('woff'), url('http://www.poorlawyer.com/gonts/muli/muli-bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal; }

@font-face {
  font-family: 'bethemily';
  src: url('http://www.poorlawyer.com/fonts/bethemily/bethemily.eot');
  src: url('http://www.poorlawyer.com/fonts/bethemily/bethemily.eot?#iefix') format('embedded-opentype'), url('http://www.poorlawyer.com/fonts/bethemily/bethemily.woff') format('woff'), url('http://www.poorlawyer.com/fonts/bethemily/bethemily.ttf') format('truetype'), url('http://www.poorlawyer.com/fonts/bethemily/bethemily.svg#bethemily') format('svg');
  font-weight: normal;
  font-style: normal; }

/* Use the following CSS code if you want to use data attributes for inserting your icons */
[data-icon]:before {
  font-family: 'bethemily';
  content: attr(data-icon);
  speak: none;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

/* Use the following CSS code if you want to have a class per icon */
/*
Instead of a list of all class selectors,
you can use the generic selector below, but it's slower:
[class*="icon-"] {
*/
.icon-sale, .icon-open, .icon-original, .icon-limited, .icon-mail {
  font-family: 'bethemily';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased; }

.icon-sale:before {
  content: "\e000"; }

.icon-open:before {
  content: "\e002"; }

.icon-original:before {
  content: "\e003"; }

.icon-limited:before {
  content: "\e004"; }

.icon-mail:before {
  content: "\e001"; }

textarea {
  resize: vertical;
  width: 100%;
  box-sizing: border-box; }

button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  -webkit-appearance: none;
  -moz-appearance: none;
  background: none;
  border-radius: 0;
  border: none;
  outline: none; }

.ratio {
  position: relative;
  overflow: hidden;
  height: 0;
  padding: 0;
  margin: 0;
  padding-bottom: 56.25%;
  display: block;
  padding-bottom: 63.6%;
 }
  .ratio img {
    position: absolute;
    top: 0px;
    left: 0;
    width: 100%;
    height: auto;
        padding-top:50px;  }
  .ratio.-portrait {
    padding-bottom: 150%;
}

.group {
  *zoom: 1; }
  .group:before, .group:after {
    content: " ";
    display: table; }
  .group:after {
    clear: both; }

.visuallyhidden {
  position: absolute !important;
  overflow: hidden !important;
  height: 0;
  width: 0; }

a {
  -webkit-transition: background-color 0.15s, color 0.15s, border-color 0.15s, text-shadow 0.15s, opacity 0.15s, box-shadow 0.15s;
  transition: background-color 0.15s, color 0.15s, border-color 0.15s, text-shadow 0.15s, opacity 0.15s, box-shadow 0.15s;
  color: #515151;
  border: none;
  text-decoration: none;
  outline: none; }
  a:hover {
    color: #ACA096;
    text-decoration: none; }

table {
  width: 100%;
  height: 100%; }

.tt, .td {
  width: 100%;
  height: 100%; }

.tt {
  display: table; }

.td {
  display: table-cell;
  vertical-align: middle; }

.deflist {
  padding: 0;
  list-style: none; }
  .deflist li {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-top: 0.2em; }
  .deflist ._term {
    float: left;
    line-height: inherit !important; }
  .deflist ._definition {
    float: right; }

.deflist.-dates ._term {
  width: 5em; }
.deflist.-dates ._definition {
  float: left;
  overflow: hidden; }

.note {
  color: #bbb;
  line-height: 1.2; }

.button {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  vertical-align: middle;
  line-height: 1.2;
  font-size: 11px;
  font-size: 0.6875rem;
  padding:  7px 14px;
  padding:  0.4375rem 0.875rem;
  border: 1px solid #ccc;
  background: none;
  border-radius: 1.5em;
  text-transform: uppercase;
  letter-spacing: 0.125em;
  color: #777; }
  .button.-primary {
    border-color: #333;
    background-color: #333;
    color: #eee; }

.limited-ed-icon {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  position: relative; }
  .limited-ed-icon span {
    position: absolute;
    font-size: 9px;
    font-size: 0.5625rem; }
  .limited-ed-icon ._stock-qty {
    top: 0;
    left: 0; }
  .limited-ed-icon ._edition-size {
    bottom: 0;
    right: 0; }
  .limited-ed-icon ._sep {
    border-bottom: 1px solid #CCC;
    position: absolute;
    top: 11px;
    top: 0.6875rem;
    left: -4px;
    left: -0.25rem;
    width: 32px;
    width: 2rem;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg); }

.limited-ed-icon.-wide {
  width: 30px; }

._stock-qty.-wide {
  left: -5px; }

.tinypage {
  display: inline-block;
  *display: inline;
  zoom: 1;
  vertical-align: top;
  text-align: center;
  vertical-align: baseline;
  margin: 3px;
  margin: 0.1875rem;
  font-size: 10px;
  font-size: 0.625rem;
  line-height: 1.2; }
  .tinypage span._page {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    width: 20px;
    border: 1px solid #bbb; }
    .tinypage span._page span {
      display: block;
      position: relative;
      padding-bottom: 141.42857%; }
  .tinypage b {
    display: block;
    font-weight: inherit;
    max-width: 70px;
    max-width: 4.375rem;
    margin:  3px 0;
    margin:  0.1875rem 0; }
  .tinypage.-a3 span._page, .tinypage.-custom span._page {
    width: 30px;
    width: 1.875rem; }
  .tinypage.-a2 span._page {
    width: 40px;
    width: 2.5rem; }
  .tinypage.-sold-out ._page span:before {
    content: "Ã¢â‚¬Â¢";
    color: red;
    line-height: 1;
    position: absolute;
    top: 0;
    right: 0.2em; }

.edition-icons {
  color: #ccc;
  font-size: 26px;
  font-size: 1.625rem;
  line-height: 1;
  vertical-align: middle; }

.home-feature {
  max-width: 1160px;
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
  text-align: center; }
  .home-feature .ratio {
    padding-bottom: 66.66667%; }

.selectr-wrap {
  position: relative;
  display: inline-block;
  *display: inline;
  zoom: 1;
  max-width: 100%;
  font-size: 0; }
  .selectr-wrap select {
    -webkit-appearance: none;
    -moz-appearance: none;
    outline: none;
    border: none;
    background: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto;
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.001;
    background: white;
    overflow: hidden;
    width: 100%;
    height: 100%; }
  .selectr-wrap option {
    padding: 0.5em 0.8em; }
  .selectr-wrap span {
    display: inline-block;
    *display: inline;
    zoom: 1;
    box-sizing: border-box;
    padding-right: 2.2em !important;
    position: relative;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%; }
    .selectr-wrap span:after {
      content: '\25BE';
      position: absolute;
      margin-top: 0;
      right: 1em;
      height: 100%; }
  .selectr-wrap span.selectr {
    font-size: 12px;
    font-size: 0.75rem;
    line-height: 1.2;
    padding:  5px 10px 4px 10px;
    padding:  0.3125rem 0.625rem 0.25rem 0.625rem;
    border: 1px solid #ccc;
    background: none;
    border-radius: 1em;
    vertical-align: middle; }

/*! http://responsiveslides.com v1.54 by @viljamis */
.rslides {
  position: relative;
  list-style: none;
  overflow: hidden;
  width: 100%;
  padding: 0;
  }

.rslides li {
  -webkit-backface-visibility: hidden;
  position: absolute;
  display: none;
  width: 100%;
  left: 0;
  top: 0px;
  outline: 1px solid rgba(0, 0, 0, 0); }

.rslides li:first-child {
  position: relative;
  display: block;
  float: left; }

.rslides img {
  display: block;
  height: auto;
  float: left;
  width: 100%;
  border: 0; }

.home-slides {
  position: relative;
  margin-bottom: 10em;
  }
  .home-slides .rslides {
    background-color: #eee;
    overflow: visible;
    *zoom: 1; }
    .home-slides .rslides:before, .home-slides .rslides:after {
      content: " ";
      display: table; }
    .home-slides .rslides:after {
      clear: both; }
  .home-slides ._caption {
    position: absolute;
    top: 100%;
    margin-top: 10px;
    margin-top: 0.625rem;
    z-index: 100;
    left: 0;
    width: 100%; }

.custom_tabs {
  margin: 0;
  padding: 0;
  text-align: center;
  list-style: none;
  position: absolute;
  top: 100%;
  margin-top: -1em;
  width: 100%;
  left: 0;
  z-index: 99;
  font-size: 1.7em;
  line-height: 1; }
  .custom_tabs li {
    display: inline; }
  .custom_tabs a {
    color: #ccc;
    cursor: pointer; }
  .custom_tabs .rslides_here a {
    color: #999; }

.site-header {
  max-width: 1160px;
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  z-index: 100;
  padding-top: 40px;
  padding-top: 2.5rem;
  text-transform: uppercase;
  font-size: 10px;
  font-weight: 400;
  letter-spacing: 0.1em; }
  .site-header a {
    color: #777; }
    .site-header a:hover {
      color: #222; }

/* a */
.home-link {
  display: block;
  width: 117px;
  width: 7.3125rem;
  height: 79px;
  height: 4.9375rem;
  opacity: 0.9;
  position: relative;
  z-index: 1; }
  .home-link img {
    width: 100%; }
  .home-link:hover {
    opacity: 1; }

.site-navigation {
  text-align: right; }
  .site-navigation ul {
    list-style: none;
    padding: 0;
    margin: 0; }

@media screen and (max-width: 48em) {
  /* a */
  .page {
    overflow: hidden; }
    
  .site-header {

        padding-bottom: -520px;
    padding-bottom: 1.25rem;
 }
  .home-link {
    display: block;
    width: 120px;
    height: 81px;
    background: url('http://poorlawyer.com/images/poorlawyer.png') no-repeat;
    background-size: 120px 81px;
 }
    .home-link img {
      display: none; }
  .navcollapse {
    position: relative;
    margin-left: -5%;
    margin-right: -5%;
    -webkit-transition: height 0.2s;
    transition: height 0.2s;
    top: 20px;
    top: 1.25rem; }
    .js .navcollapse {
      position: absolute;
      margin: 0;
      left: -5%;
      right: -5%;
      overflow: hidden;
      height: 0; }
  .site-navigation {
    position: relative;
    margin-bottom:-50px;
    /* span */
    /* a */ }
    .site-navigation nav {
      text-align: center; }
    .site-navigation ul a { /* each link */
      display: block;
      background: #F7F7F7;
      border-bottom: 1px solid #eee;
      padding: 0.5em; }
    .site-navigation li:first-child a { /* top link */
      border-top: 1px solid #eee; }
    .site-navigation .nav-toggle, .site-navigation .navitem-cart { /* menu */
      position: absolute;
      top: -40px;
      top: -2.5rem;
      color: #666; }
    .site-navigation .nav-toggle {
      right: 9em; }
      .site-navigation .nav-toggle::before {
        content: 'Menu'; }
      .site-navigation .nav-toggle::after {
        -webkit-transition: opacity 0.2s, top 0.2s;
        transition: opacity 0.2s, top 0.2s;
        opacity: 0;
        content: "";
        position: absolute;
        width: 100%;
        top: 100em;
        left: 0;
        border-bottom: 1px solid #ccc; }
      .site-navigation .nav-toggle.-active::after {
        opacity: 1;
        top: 1.7em; }
    .site-navigation .navitem-cart {
      right: 0; } '

      }

@media screen and (min-width: 48.0625em) {
  .navcollapse {
    height: auto !important; }
  .site-title {
    margin-bottom: -60px;
    margin-bottom: -3.75rem; }
  .site-navigation {
    text-align: right;
    position: relative;
    top: -10px;
    top: -0.625rem;
    text-align: right; }
    .site-navigation ul {
      list-style: none;
      padding: 0;
      margin: 0; }
    .site-navigation .navcollapse, .site-navigation ul, .site-navigation li {
      display: inline; }
    .site-navigation a {
      display: inline-block;
      *display: inline;
      zoom: 1;
      vertical-align: top;
      margin-left: 6em; } }

.site-footer {
  font-size: 90%;
  padding-top: 30px;
  padding-top: 1.875rem; }
  .site-footer ._content {
    max-width: 1160px;
    max-width: 72.5rem;
    margin-left: auto;
    margin-right: auto; }
  .site-footer ul {
    list-style: none;
    padding-left: 0; }
  .site-footer ._shop, .site-footer ._contact {
    float: left;
    width: 100%; }
  .site-footer ._info, .site-footer ._follow {
    float: left;
    width: 50%; }
  @media screen and (min-width: 37.5625em) {
    .site-footer ._shop, .site-footer ._contact {
      width: 30%;
      margin-right: 20%; } }
  @media screen and (min-width: 48.0625em) {
    .site-footer ._shop, .site-footer ._contact {
      width: 25%;
      margin-right: 10%; }
    .site-footer ._info, .site-footer ._follow {
      width: 15%; } }
  .site-footer .copyright {
    text-transform: uppercase;
    color: #ccc;
    float: left; }
  .site-footer .byline {
    text-transform: uppercase;
    color: #ccc;
    float: right; }
    .site-footer .byline a {
      color: #ccc; }
    .site-footer .byline a:hover {
      color: #A97543; }
    .site-footer .byline a:first-child:hover {
      color: blue; }

.shop {
  max-width: 1160px;
  max-width: 72.5rem;
  margin-left: auto;
  margin-right: auto; }

.products {
  text-align: justify;
  font-size: 0; }
  .products > * {
    display: inline-block;
    vertical-align: top; }
  .products:after {
    content: "";
    display: inline-block;
    width: 100%; }

.shop-filters {
  text-align: justify;
  font-size: 0; }
  .shop-filters > * {
    display: inline-block;
    vertical-align: top; }
  .shop-filters:after {
    content: "";
    display: inline-block;
    width: 100%; }
  .shop-filters ._current {
    padding: 0.2em;
    color: #ccc; }

.shop-filter {
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 6%;
  position: relative;
  text-transform: uppercase;
  text-align: left; }
  @media screen and (min-width: 20.0625em) {
    .shop-filter {
      width: 47%; } }
  @media screen and (min-width: 45.0625em) {
    .shop-filter {
      width: 27.8%; } }
  .shop-filter ._label {
    display: block;
    outline: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 9px 12px 7px 12px;
    font-family: 'Muli5', sans-serif;
    font-size: 12px;
    font-size: 0.75rem;
    font-weight: 200;
    color: #777;
    line-height: 2;
    text-transform: uppercase;
    width: 100%;
    text-align: left; }
  .shop-filter ._content {
    position: absolute;
    z-index: 99;
    top: 100%;
    top: calc( 100% - 1px);
    left: 0;
    width: 100%;
    background-color: #F6F5F0;
    display: none; }
  .shop-filter ._inner {
    margin: 0;
    padding: 0;
    list-style: none; }
  .shop-filter li {
    padding: 7px 12px;
    cursor: pointer;
    text-align: left; }
  .shop-filter li ._icon {
    font-size: 25px;
    margin-top: -8px;
    display: inline-block;
    position: relative;
    top: 6px;
    margin-right: 5px; }
  .shop-filter li .limited-ed-icon ._stock-qty {
    top: -5px; }
  .shop-filter li .limited-ed-icon ._edition-size {
    bottom: -5px; }
  .shop-filter .-disabled {
    color: #ccc; }

@media screen and (max-width: 45em) {
  .cm-form {
    display: none; } }

#cmform {
  text-align: center; }
  #cmform input {
    width: 100%;
    padding: 10px 0;
    border: none;
    border-bottom: 1px solid #eee;
    outline: none;
    background: transparent;
    text-align: inherit; }
    #cmform input:focus {
      background: #F5E5CF; }
  #cmform button {
    margin-top: 10px; }

#cmform-notes {
  margin: 10px;
  text-transform: none;
  font-size: 10px;
  text-align: center; }

#shopModalTarget {
  font-size: 12px;
  font-size: 0.75rem; }
  #shopModalTarget .product {
    padding-bottom: 6%; }

#mixGridColumnCount:before {
  content: "1"; }
  @media screen and (min-width: 20.0625em) {
    #mixGridColumnCount:before {
      content: "2"; } }
  @media screen and (min-width: 45.0625em) {
    #mixGridColumnCount:before {
      content: "3"; } }

.product-preview {
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 6%; }
  @media screen and (min-width: 20.0625em) {
    .product-preview {
      width: 47%; } }
  @media screen and (min-width: 45.0625em) {
    .product-preview {
      width: 27.8%; } }
  .product-preview a {
    display: block; }
  .product-preview .ratio {
    padding-bottom: 124%; }
  .product-preview ._overlay {
    position: absolute;
    top: 1em;
    left: 1em;
    right: 1em;
    bottom: 1em;
    text-align: center;
    filter: alpha(opacity=#{$ie_opacity});
    opacity: 0;
    -webkit-transition: opacity 0.2s;
    transition: opacity 0.2s;
    -webkit-transform: translate3d(0, 0, 0);
    -ms-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0); }
  @media screen and (min-width: 60.0625em) {
    .product-preview:hover ._overlay {
      filter: alpha(opacity=#{$ie_opacity});
      opacity: 0.9; } }
  .product-preview ._content {
    margin-top: 1em;
    position: relative; }
  .product-preview ._title {
    margin: 0;
    white-space: nowrap;
    overflow: hidden; }
  .product-preview ._price {
    font-size: 11px;
    font-size: 0.6875rem;
    letter-spacing: 0.0625em; }
  .product-preview .edition-icons {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #fff;
    /* 		color: #ccc;
		@include rem( font-size, $icon-size );
		line-height: 1;
 */ }
    .product-preview .edition-icons:before {
      content: "";
      position: absolute;
      top: 0;
      right: 100%;
      width: 30px;
      width: 1.875rem;
      height: 26px;
      height: 1.625rem;
      background-color: rgba(255, 255, 255, 0);
      background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, rgba(255, 255, 255, 0)), color-stop(100%, #ffffff));
      background-image: -webkit-linear-gradient(left, rgba(255, 255, 255, 0), #ffffff);
      background-image: linear-gradient(to right,rgba(255, 255, 255, 0), #ffffff); }
  .product-preview .limited-ed-icon, .product-preview .icon-open, .product-preview .icon-original, .product-preview .icon-sale {
    margin-left: 5px;
    margin-left: 0.3125rem; }
  .product-preview .-warning {
    color: red; }
  .product-preview.-is-edition-open ._overlay {
    background-color: #FFFFFF; }
  .product-preview.-is-edition-limited ._overlay {
    background-color: #ACA096;
    color: #fff; }
    .product-preview.-is-edition-limited ._overlay .h3, .product-preview.-is-edition-limited ._overlay .h4 {
      color: #fff; }
  .product-preview.-is-edition-original ._overlay {
    background-color: #724C3D;
    color: #fff; }
    .product-preview.-is-edition-original ._overlay .h3, .product-preview.-is-edition-original ._overlay .h4 {
      color: #fff; }
  .product-preview.-is-edition-original .tinypage ._page {
    border-color: #fff; }

.product {
  *zoom: 1; }
  .product:before, .product:after {
    content: " ";
    display: table; }
  .product:after {
    clear: both; }

.product-gallery {
  position: relative; }

@media screen and (min-width: 37.5em) {
  .product-gallery {
    float: left;
    width: 50%; }
  .product-details {
    float: right;
    width: 42%; } }

.product-details .h4 + p {
  margin-top: 0; }
.product-details .edition-icons .h4 {
  margin-left: 10px;
  margin-left: 0.625rem;
  position: relative;
  top: -0.7em;
  color: #777; }

.product-gallery ul {
  padding: 0;
  list-style: none; }
.product-gallery li.ratio {
  padding-bottom: 124%; }

.form-line {
  margin-bottom: 0.5em;
  position: relative; }
  .form-line label {
    display: inline-block;
    *display: inline;
    zoom: 1;
    vertical-align: top;
    padding:  6px 10px;
    padding:  0.375rem 0.625rem;
    line-height: 1.2; }
  .form-line .selectr-wrap {
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0; }
  .form-line span.selectr {
    width: 100%;
    text-align: right; }

.variations h4.-underline {
  border-bottom: none; }
.variations label {
  font-size: 11px;
  font-size: 0.6875rem;
  text-transform: uppercase;
  letter-spacing: 0.125em; }

.add-to-cart-action {
  margin-top: 2em; }
  .add-to-cart-action .h4 {
    float: left;
    margin-right: 2em;
    line-height: 2; }
  .add-to-cart-action span {
    float: left;
    line-height: 2; }
  .add-to-cart-action .button {
    float: right; }

.cart-table {
  margin-bottom: 6em; }
  .cart-table th, .cart-table td {
    padding: 5px;
    padding: 0.3125rem;
    text-align: center;
    border-bottom: 1px solid #eee;
    font-weight: inherit; }
    @media screen and (min-width: 42.5625em) {
      .cart-table th, .cart-table td {
        padding: 15px;
        padding: 0.9375rem; } }
  .cart-table th {
    padding-bottom: 5px;
    padding-bottom: 0.3125rem; }
  .cart-table .icon-sale {
    color: red;
    position: absolute;
    bottom: 0.2em;
    right: 0.2em; }
  .cart-table .col-thumb {
    padding-left: 0;
    text-align: left; }
  .cart-table .col-title {
    text-align: left;
    width: 30%; }
  .cart-table .col-total {
    text-align: right; }
  .cart-table .col-remove {
    padding-right: 0; }
  .cart-table .is-on-sale .col-price {
    color: red; }

.cart-thumb .ratio {
  padding-bottom: 124%; }

.remove-action {
  color: red;
  border: 1px solid red;
  text-align: center;
  width: 24px;
  width: 1.5rem;
  height: 24px;
  height: 1.5rem;
  border-radius: 13px;
  border-radius: 0.8125rem;
  box-sizing: border-box;
  display: inline-block; }

.cart-notes {
  margin-bottom: 3em; }

.totals-table {
  margin: 3em 0; }

@media screen and (min-width: 31.3125em) {
  .cart-notes, .cart-totals {
    float: right;
    width: 47%;
    position: relative; }
  .cart-notes {
    left: -53%; }
  .cart-totals {
    left: 47%; } }

@media screen and (min-width: 48.0625em) {
  .cart-notes, .cart-totals {
    float: right;
    width: 33%;
    position: relative; }
  .cart-notes {
    left: -38%; }
  .cart-totals {
    left: 33%; } }

@media screen and (max-width: 30em) {
  .cart-table thead {
    display: none; }
  .cart-table, .cart-table tr, .cart-table td {
    display: block;
    width: 100% !important;
    text-align: center !important; }
  .cart-table td.col-thumb {
    border-bottom: none; }
  .cart-table td.col-size, .cart-table td.col-edition {
    float: left;
    width: 50% !important;
    box-sizing: border-box; }
  .cart-table td.col-price, .cart-table td.col-qty, .cart-table td.col-total {
    float: left;
    width: 33% !important;
    box-sizing: border-box; }
  .cart-table td.col-remove {
    clear: both; } }

.works-title {
  margin: 15% 0 10% 0; }
  @media screen and (min-width: 30.0625em) {
    .works-title {
      margin-left: 34.6777%; } }
  @media screen and (min-width: 60.0625em) {
    .works-title {
      margin-left: 45%; } }

.works-grid {
  text-align: justify;
  font-size: 0; }
  .works-grid > * {
    display: inline-block;
    vertical-align: top; }
  .works-grid:after {
    content: "";
    display: inline-block;
    width: 100%; }

.work-preview {
  font-size: 12px;
  font-size: 0.75rem;
  width: 100%;
  margin-bottom: 4%; }
  .work-preview .ratio {
    background-color: #fff;
    padding-bottom: 67.1875%; }
  .work-preview img {
    -webkit-transition: opacity 0.5s;
            transition: opacity 0.5s;
    opacity: 0.99;
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    z-index: 1; }
  @media screen and (min-width: 20.0625em) {
    .work-preview {
      width: 48%; }
      .work-preview.-featured {
        width: 100%; } }
  @media screen and (min-width: 45.0625em) {
    .work-preview {
      width: 30.6777%; }
      .work-preview.-featured {
        width: 65.3554%; }
        .work-preview.-featured .ratio {
          padding-bottom: 69.1875%; }
      .work-preview:nth-child(3) {
        margin-left: -34.6777%;
        margin-top: 24.7%; } }

@media screen and (min-width: 45.0625em) {
  .work-preview:hover .ratio img {
    opacity: 0.1; } }

.work-preview__cover {
  padding: 0 2em;
  text-align: center;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  color: #999; }
  .work-preview__cover .h2 {
    color: #333;
    margin: 0.3em; }

@media screen and (min-width: 30.0625em) {
  .page-about .grid-item {
    width: 48%;
    float: left; }
    
  .page-about .grid-item:first-child {
    margin-right: 4%; } }

.infoPage {
  margin-top: 5%; }
  .infoPage .h2 {
    font-size: 24px;
    margin-top: 60px; }

.sidebar {
  float: left;
  margin-top: 42px;
  width: 100%;
  position: relative; }

.mainInfo {
  float: left;
  max-width: 665px; }

.infoSection {
  overflow: hidden; }


@media screen and (min-width: 48.0625em) {
  .sidebar {
    width: 140px;
    margin-right: -140px; }
  .mainInfo {
    padding-left: 160px;
} }

.sidebarList {
  list-style: none;
  margin-bottom: 30px; }

.checkout-form\* .labelfield {
  margin: 10px 0; }
.checkout-form\* label {
  font-size: 10px;
  margin: 0;
  padding: 0;
  display: block;
  line-height: 1.4; }
.checkout-form\* input[type="text"], .checkout-form\* input[type="email"] {
  display: block;
  width: 100%;
  box-sizing: border-box;
  line-height: normal;
  padding: 3px;
  margin: 0;
  outline: none;
  border: 1px solid #ccc;
  font-family: inherit; }

#id_billing-postal_code {
  max-width: 5em; }

#cc-number {
  max-width: 15em; }

#cc-cvc {
  max-width: 3em; }

@media screen and (min-width: 46.25em) {
  .checkout-col-1 {
    width: 30%;
    float: left; }
  .checkout-col-2 {
    width: 30%;
    float: left;
    margin-left: 5%; }
  .checkout-col-3 {
    width: 30%;
    float: right; } }

.labelfield.-error label {
  color: red; }
.labelfield.-error input {
  border-color: red; }

.errorlist {
  list-style: none;
  color: red;
  font-size: 10px;
  padding-left: 0; }

.orderNotes {
  padding: 1em;
  border: 1px solid #eee;
  outline: none;
  font-family: inherit; }

.emptyCart {
  margin: 5%;
  text-align: center; }

.sr {
  overflow: hidden;
  position: relative; }
  .sr:before {
    content: "^";
    position: absolute;
    top: 0.4em;
    right: 0.7em;
    -webkit-transform: rotate(-180deg) scaleY(0.7);
        -ms-transform: rotate(-180deg) scaleY(0.7);
            transform: rotate(-180deg) scaleY(0.7); }
  .sr.button {
    padding: 0; }
  .sr select {
    padding-top: 4px;
    padding-bottom: 5px;
    padding-left: 4em;
    padding-right: 5em;
    margin-left: -3em;
    margin-right: -3em;
    -webkit-appearance: none;
    -moz-appearance: none;
    border: none;
    border-radius: 0;
    outline: none;
    background: transparent;
    text-align: right;
    float: right;
    min-width: 2em;
    cursor: pointer;
    position: relative; }

.r {
  *zoom: 1;
  position: relative;
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  margin-bottom: -1px; }
  .r:before, .r:after {
    content: " ";
    display: table; }
  .r:after {
    clear: both; }
  .r label, .r select {
    line-height: normal;
    padding: 1em;
    font-family: inherit;
    font-size: inherit;
    font-weight: inherit;
    color: inherit; }
  .r label {
    float: left;
    position: absolute;
    top: 0;
    left: 0;
    padding-left: 0; }
  .r select {
    color: #333;
    position: relative; }
  .r .rr {
    float: right;
    overflow: hidden;
    max-width: 70%; }
    .r .rr select {
      padding-left: 4em;
      padding-right: 5em;
      margin-left: -3em;
      margin-right: -3em;
      -webkit-appearance: none;
      -moz-appearance: none;
      border: none;
      border-radius: 0;
      outline: none;
      background: transparent;
      text-align: right;
      float: right;
      min-width: 2em;
      cursor: pointer; }
  .r .rr:before {
    content: "Ã¢Ë†â€ ";
    content: "^";
    position: absolute;
    top: 0.6em;
    right: 0.5em;
    -webkit-transform: rotate(-90deg) scaleY(0.7);
        -ms-transform: rotate(-90deg) scaleY(0.7);
            transform: rotate(-90deg) scaleY(0.7); }

.slex {
  display: inline-block;
  position: relative; }

.slex__toggle {
  display: block;
  padding: 10px;
  background-color: #fff;
  outline: 1px solid #eee; }

.slex__dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  display: none;
  background-color: #fff;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.3); }

.slex.is-open .slex__dropdown {
  display: block; }

.slex {
  margin-bottom: 10em; }

.slect {
  display: block;
  position: relative;
  line-height: 1.5;
  outline: 1px solid red; }

.slect__label {
  outline: 1px solid blue;
  padding: 1em;
  text-align: left;
  display: block; }

.slect__select {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.hot {
  color: red; }

body {
  background-color: #F7F7F7; }

.page {
  background-color: #fff; }

body.-alt {
  background-color: #fff; }
  body.-alt .page {
    background-color: #F7F7F7; }

.js .mix {
  /* opacity: 0; */
  display: none; }

.page, .shop, .site-footer {
  position: relative; }

.site-header, .centre, .site-footer {
  padding-left: 4.5%;
  padding-right: 4.5%; }

.centre {
  max-width: 1000px;
  max-width: 62.5rem;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 70px;
  padding-bottom: 4.375rem; }

.centre--checkout {
  max-width: 840px; }

figure, .two-up {
  margin: 4% 0; }

.two-up {
  text-align: justify;
  font-size: 0; }
  .two-up > * {
    display: inline-block;
    vertical-align: top; }
  .two-up:after {
    content: "";
    display: inline-block;
    width: 100%; }
  .two-up figure {
    margin: 0;
    width: 48%; }

.project-single {
  max-width: 1000px;
  max-width: 62.5rem;
  padding-top: 100px;
  padding-top: 6.25rem;
  padding-bottom: 100px;
  padding-bottom: 6.25rem; }

@media screen and (min-width: 60.0625em) {
  .project-description {
    float: left;
    width: 47%; }
  .project-details {
    float: right;
    width: 47%; } }